<html>
  <head>
    <title>Car Control</title>
    <script>
      function sendCommand(command) {
        fetch('/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ command: command }),
        })
          .then(function(response) {
            console.log(response);
            // Handle the success response
          })
          .catch(function(error) {
            console.log(error);
            // Handle the error response
          });
      }
    </script>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img width="500" height="500" src="{{ url_for('video_feed') }}">
    <h1>Car Control</h1>
    <button type="button" onclick="sendCommand('forward')">Forward</button>
    <br><br>
    <button type="button" onclick="sendCommand('left')">Left</button>
    <button type="button" onclick="sendCommand('stop')">Stop</button>
    <button type="button" onclick="sendCommand('right')">Right</button>
    <br><br>
    <button type="button" onclick="sendCommand('backward')">Backward</button>
  </body>
</html>


